.account h3{
    font-size: 35px;
}
.account h4{
    font-size: 20px;
}
.account{
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.choices{
    flex-direction: column;
    margin-top: 70px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
