h3 {
    text-align: center;
}

p {
    word-break: break-all;
    white-space: normal;
    max-width: 100%;
    margin: 5px 0;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: auto;
    padding: 0;
}

li {
    display: flex;
    width: 100%;
    border: green solid 1px;
    border-radius: 10px;
    height: fit-content;
}

li .imageWrapper {
    width: 55%;
}

.recipeText {
    width: 45%;
}

.recipeText, .recipeInfo {
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding: 0 10px;
}

.recipeInfo *, .recipeText * {
    height: fit-content;
    width: fit-content;
}

.recipeInfo {
    width: 20%;
    justify-content: center;
    align-items: center;
}

.subLog {
    margin: 2px 0;
    text-align: center;
}

@media only screen and (max-width: 500px) {

    li, .recipe {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .recipeInfo {
        width: 100%;
    }

}