.element {
    width: 100%;
    gap: 10px;
    margin: 15px 0;
    padding: 5px 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: green solid 1px;
    border-radius: 10px;
    height: fit-content;
}

h3 {
    font-size: 40px;
}

.element * {
    margin: 0 15px;
}

.element p {
    margin-bottom: 10px;
    font-size: 20px;
}

.element a {
    font-size: 35px;
}

.sublist {
    border: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
