
h3{
    text-align: center;
}

p{
    word-break: break-all;
    white-space: normal;
    max-width: 100%;
}

ul{
    list-style: none;
    display:flex;
    flex-direction: column;
    gap:20px;
    width: auto;
    padding: 0;
}

li{
    display:flex;
    width: 100%;
    border:green solid 1px;
    border-radius:10px;
    height: fit-content;
}

li .imageWrapper{
    width: 30%;
}

.recipeText{
    width:55%;
}

.recipeText, .recipeInfo{
    flex-direction: column;
    height: fit-content;
    padding:0 10px;
}

.recipeInfo *, .recipeText *{
    height: fit-content;
}
.recipeInfo{
    width: 15%;
}