{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Newspaper App{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block css %}
        <link rel="stylesheet" href="{% static 'base.css' %}">
    {% endblock %}

<body id="body">
    <header>

        <div class="homeLogo">
            <a href="{% url 'home' %}"><h1>Recipe world</h1></a>
        </div>
        <div class="userInteraction">
            <div class="userAction">
                {% if user.is_authenticated %}
                    <div class="sub">
                        <p>{{ user.username }}</p>
                        <a class="subLog" href="{% url 'password_reset' %}">Change your password</a>
                        <a class="subLog" href="{% url 'logout' %}">Log out</a>
                    </div>
                {% else %}
                    <div class="sub">
                        <a class="subLog" href="{% url 'login' %}">Log In</a>
                        <a class="subLog" href="{% url 'signup' %}">Sign Up</a>
                    </div>

                {% endif %}
            </div>
        </div>

    </header>
     <section class="main">
         <div class="container">
          {% block content %}
          {% endblock content %}
        </div>
     </section>
</body>
</html>