{% extends "base.html" %}
{% load static %}
{% block title %}{{ title}}{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="/staticfiles/detail.css">
    <link rel="stylesheet" href="/staticfiles/base.css">
{% endblock %}

{% block content %}
  {% block head %}<h2>{{ title}}</h2>{% endblock %}
    <form method="POST" enctype="multipart/form-data">

        <!-- Security token -->
        {% csrf_token %}

        <!-- Using the formset -->
        {{ form.as_p }}
         <input type="hidden" name="next" value="{{ request.GET.next }}">

        <input type="submit" value="Submit">
    </form>
{% endblock %}