{% extends "base.html" %}
{% load static %}
{% block title %}New Recipe{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'detail.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
{% endblock %}

{% block content %}
  {% block head %}<h2>New Recipe</h2>{% endblock %}
    <form method="POST" enctype="multipart/form-data">

        <!-- Security token -->
        {% csrf_token %}

        <!-- Using the formset -->
        {{ formset1.as_p }}
        {{ formset2.as_p }}
        {{ formset3.as_p }}
        <a href={% url 'ingredient_new' %}?next={{ request.path|urlencode }}>New Ingredient</a>
        <a href={% url 'category_new' %}?next={{ request.path|urlencode }} >New Category</a>
        {{ form.as_p }}
        {{ formset4.as_p }}

        <input type="submit" value="Submit">
    </form>
{% endblock %}