{% extends "base.html" %}
{% load static %}
{% block title %}Delete recipe}{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'detail.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
{% endblock %}


{% block content %}

<form method="post">
    {% csrf_token %}

    <p>Are you sure you want to delete {{ object }}?</p>
    <input type="hidden" name="next" value="{{ request.GET.next }}">
    <input type="submit" name="confirm" value="Confirm">
    <input type="submit" name="keep" value="Keep the recipe">
</form>
{% endblock content %}


