{% extends "base.html" %}
{% load static %}
{% block title %}{{object.title }}{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="/staticfiles/detail.css">
    <link rel="stylesheet" href="/staticfiles/base.css">
{% endblock %}


{% block content %}
    <h2>{{object.title}}</h2>
    <div class="recipe">
        <div class="imageWrapper">
            <span><img src="{{ object.image.url}}" alt="recipe photo"></span>
        </div>
        <p>{{ object.description }}</p>
        <div class="preparation">
            <div class="list">
                <ul>
                    {% for ingredient in ingredients %}
                        <li>
                            <a href="{{ ingredient.ingredient.get_absolute_url }}">{{ ingredient.ingredient }}</a>
                            <p>{{ingredient.quantity}}</p>
                            <p>{{ingredient.unit}}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <p class="time">{{ object.time}}min</p>
        </div>
        <div class="list">
                <ul>
                    {% for category in categories %}
                        <li>
                            <a href="{{ category.get_absolute_url }}">{{ category.title }}</a>
                        </li>
                    {% endfor %}
                </ul>

        </div>
        <div class="list">
                <ul>
                    {% for step in steps %}
                        <li>
                            <p>{{ step.description }}</p>
                        </li>
                    {% endfor %}
                </ul>

        </div>
        <a href="/recipes/{{ object.author}}/authorRecipes/">{{ object.author}}</a>
        <p class="date">{{ object.date}}</p>
        {% if user.is_authenticated and object.author == user %}
            <a class="choice" href="/accounts/favourites/{{ object.pk }}" >favourite</a>
            <a class="choice" href="/recipes/{{ object.pk }}/modify/">modify recipe</a>
            <a class="choice" href="/recipes/{{ object.pk }}/delete/?next={{ request.path|urlencode}}">Delete recipe</a>
        {% elif user.is_authenticated%}
             <a class="choice" href="/accounts/favourites/{{ object.pk }}" >favourite</a>
        {% endif %}
        <p>{{ object.body }}</p>
    </div>
{% endblock content %}