{% extends "base.html" %}
{% load static %}
{% block title %}{{object.title }}{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'detail.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
{% endblock %}


{% block content %}
    <h2>{{object.title}}</h2>
    <div class="recipe">
        <div class="imageWrapper">
            <span><img src="{{ item.image}}" alt="recipe photo"></span>
        </div>
        <p>{{ object.description }}</p>
        <div class="preparation">
            <div class="ingredients">
                <ul>
                    {% for ingredient in ingredients %}
                        <li>
                            <p>{{ingredient.title}}</p>
                        </li>
                    {% endfor %}
                </ul>

            </div>
            <p class="time">{{ object.time}}min</p>
        </div>
        <a href="/recipes/{{ object.author}}/authorRecipes/">{{ object.author}}</a>
        <p class="date">{{ object.date}}</p>
        {% if user.is_authenticated and object.author == user %}
            <a class="choice" href="/accounts/favourites/{{ object.pk }}" >favourite</a>
            <a class="choice" href="/recipes/{{ object.pk }}/modify/">modify recipe</a>
            <a class="choice" href="/recipes/{{ object.pk }}/delete/">Delete recipe</a>
        {% elif user.is_authenticated%}
             <a class="choice" href="/accounts/favourites/{{ object.pk }}" >favourite</a>
        {% endif %}
        <p>{{ object.body }}</p>
    </div>
{% endblock content %}