{% extends "base.html" %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" type=text/css href="{% static 'base.css' %}">
{% endblock %}


{% block content %}
    <div class="choices">
        <a class="choice" href="{% url 'recent' %}">See new recipes</a>
        <a class="choice" href="{% url 'recipe_best' %}">Best recipes</a>
        <a class="choice" href="{% url 'search' %}">Search</a>
        <a class="choice" href="{% url 'recipe_categories' %}">Categories</a>
        <a class="choice" href="{% url 'recipe_ingredients' %}">Ingredients</a>
        {% if user.is_authenticated %}
            <a class="choice" href="{% url 'recipe_yours' %}">See your recipes</a>
            <a class="choice" href="{% url 'recipe_favourites' %}">See your favorites</a>
            <a class="choice" href="{% url 'recipe_new' %}">New recipe</a>
            <a class="choice" href="{% url 'ingredient_new' %}">New ingredient</a>
            <a class="choice" href="{% url 'category_new' %}">New category</a>
        {% endif %}

    </div>
{% endblock content %}