{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block css %}<link rel="stylesheet" href="{% static 'home.css' %}">{% endblock %}


{% block content %}
    <h2>What recipes are you searching?</h2>
    <div class="choices">
        <a class="choice" href="{% url 'recent' %}">See new recipes</a>
        <a class="choice" href="{% url 'recent' %}">Search</a>
        {% if user.is_authenticated %}
            <a class="choice" href="{% url 'recent' %}">See your recipes</a>
            <a class="choice" href="{% url 'recent' %}">See your favorites</a>
        {% endif %}

    </div>
{% endblock content %}