{% extends "base.html" %}
{% load static %}

{% block title %}Recent{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'recent.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
{% endblock %}

{% block content %}
{% block head %}<h2>New Recipes:</h2>{% endblock head %}
<ul>
    {% for item in object_list %}
    <li>
        <div class="imageWrapper">
            <a href="{{ item.get_absolute_url }}"><img src="{{ item.image}}" alt="recipe photo"></a>
        </div>
        <div class="recipeText">
            <a href="{{ item.get_absolute_url }}">
                <h3>{{ item.title }}</h3>
                <p>{{ item.description }}</p>
            </a>
        </div>
        <div class="recipeInfo">
            <a href="/recipes/{{item.author}}/authorRecipes/">{{ item.author}}</a>
            <p class="date">{{ item.date}}</p>
            <p class="time">{{ item.time}}min</p>
            {% if user.is_authenticated and item.author == user %}
                <a class="choice" href="/accounts/favourites/{{ item.pk }}" >favourite</a>
                <a class="choice" href="/recipes/{{ item.pk }}/modify/">modify recipe</a>
                <a class="choice" href="{{ item.get_absolute_url }}delete/">Delete recipe</a>
            {% elif user.is_authenticated%}
                 <a class="choice" href="/accounts/favourites/{{ item.pk }}" >favourite</a>
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock content %}