<!DOCTYP{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}


{% block content %}
    <h1 style="font-size:50px; text-align: center">You don't have the right to do this</h1>
    <a style="align-self:center; font-size:40px;width: fit-content; border: green solid 1px; border-radius: 10px"
       href="{% url 'home' %}">Go to the home</a>
{% endblock content %}
