{% extends "base.html" %}
{% load static %}

{% block title %}Searching{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="/staticfiles/search.css">
    <link rel="stylesheet" href="/staticfiles/base.css">
{% endblock %}

{% block content %}
    <h1>Search what you want:</h1>
    <div class="search">

        <div>
{#            <img alt="search" src="img/search.svg">#}
        </div>

        <form  method="post">
            {% csrf_token %}
            {{ form.search }}
            {{ form.filter_field }}
            <button type="submit"  value="Submit">Search</button>
        </form>

    </div>
{% endblock content %}