{% extends "base.html" %}
{% load static %}

{% block title %}Search Results{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'sublist.css' %}">
    <link rel="stylesheet" href="{% static 'recent.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
{% endblock %}

{% block content %}
{% block head %}<h2>Search Results:</h2>{% endblock head %}
<ul>
        <a class="subLog" href="{% url 'search' %}">Search something else</a>
        {% if mode == "recipe" or mode == "all" %}
            {% if results.0 %}
                <h2>Recipes:</h2>
                <h3 style="text-align: left; font-size: 1.17em;">{{ results.0|length }} recipes have been found</h3>
                {% for item in results.0 %}
                    <li>
                        <div class="imageWrapper">
                            <a href="{{ item.get_absolute_url }}"><img src="{{ item.image.url}}" alt="recipe photo"></a>
                        </div>
                        <div class="recipeText">
                            <a href="{{ item.get_absolute_url }}">
                                <h3 style="font-size: 1.17em;">{{ item.title }}</h3>
                                <p>{{ item.description }}</p>
                            </a>
                        </div>
                        <div class="recipeInfo">
                            <p>Cook:</p>
                            <a href="/recipes/{{item.author}}/authorRecipes/">{{ item.author}}</a>
                            <p>Created:</p>
                            <p class="date">{{ item.date}}</p>
                            <p>Time to prepare:</p>
                            <p class="time">{{ item.time}}min</p>
                            {% if user.is_authenticated and item.author == user %}
                                <a class="subLog" href="/accounts/favourites/{{ item.pk }}" >Favourite</a>
                                <a class="subLog" href="/recipes/{{ item.pk }}/modify/">Modify recipe</a>
                                <a class="subLog" href="/recipes/{{ item.pk }}/delete/?next={{ request.path|urlencode}}">Delete recipe</a>
                            {% elif user.is_authenticated%}
                                 <a class="choice" href="/accounts/favourites/{{ item.pk }}" >favourite</a>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            {% else %}
                <h3>No recipe match your search</h3>
            {% endif %}
        {% endif %}
        {% if  mode == "category" or mode == "all" %}
             {% if results.1 %}
                 <h2>Categories:</h2>
                 <h3 style="text-align: left; font-size: 1.17em;">{{ results.1|length }} categories have been found</h3>
                {% for item in results.1 %}
                    <li class="sublist">
                        <div class="element">
                            <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                            <p>{{ item.description }}</p>
                        </div>
                    </li>
                {% endfor %}
            {% else %}
                <h3>No category match your search</h3>
            {% endif %}
        {% endif %}
        {% if  mode == "ingredient" or mode == "all" %}
             {% if results.2 %}
                 <h2>Ingredients:</h2>
                 <h3 style="text-align: left; font-size: 1.17em;">{{ results.2|length }} ingredients have been found</h3>
                {% for item in results.2 %}
                    <li class="sublist">
                        <div class="element">
                            <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                            <p>{{ item.description }}</p>
                        </div>
                    </li>
                {% endfor %}
            {% else %}
                <h3>No ingredient match your search</h3>
            {% endif %}
        {% endif %}
        {% if mode == "cook" or mode == "all" %}
            {% if results.3 %}
                <h2>Cooks:</h2>
                <h3 style="text-align: left; font-size: 1.17em;">{{ results.3|length }} cooks have been found</h3>
                {% for item in results.3 %}
                    <li class="sublist">
                        <a href="{{ item.get_absolute_url }}">
                            <h3>{{ item.title }}</h3>
                        </a>
                    </li>
                {% endfor %}
            {% else %}
                <h3>No cook match your search</h3>
            {% endif %}

        {% endif %}

</ul>
{% endblock content %}