{% extends "list.html" %}
{% load static %}
{% load filter_first %}


{% block css %}
    <link rel="stylesheet" href="{% static 'recent.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
{% endblock %}

{% block content %}
{% block head %}<h2>{{ title }}:</h2>{% endblock head %}
<ul>
    {%  for letter in alphabet %}

        {%for item in object_list|filter_first:letter  %}
            <li>
                <h3>{{letter}}:</h3>
                <div class="element">
                    <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                </div>
            </li>
        {% endfor %}
    {% endfor %}

</ul>
{% endblock content %}